:root {
  --primary: 11 234 82;
  --white: 250 250 250;
  --red: 255 123 123;

  --sha-but: 255 250 250;
  --sha-pop: 255 250 250;

  --gray-100: 231 231 231;
  --gray-200: 209 209 209;
  --gray-300: 176 176 176;
  --gray-400: 136 136 136;
  --gray-500: 109 109 109;
  --gray-600: 93 93 93;
  --gray-700: 79 79 79;
  --gray-800: 69 69 69;
  --gray-900: 61 61 61;
  --gray-950: 34 34 34;
}
